<div class="container text-center">
  <%= image_tag @reader.get_profile_image(300,300), class: "rounded-circle mt-5", size: "200x200" %>
  <h5 class="mt-"><%= @reader.first_name %>　<%= @reader.last_name %></h5>
  <h3><%= @reader.user_name %></h3>
  <p><%= @reader.prefecture %></p>
  <p><%= @reader.introduct %></p>
   
  <div>
    <%= link_to "編集", edit_reader_reader_path, class: "btn btn-success mr-3" %>
    <%= link_to "退会", reader_reader_path, class: "btn btn-danger mt-2", method: :delete, "data-confirm" => "本当に退会しますか？" %><br>
    <%= link_to "back", reader_animals_path %>
  </div>

</div>