<%= image_tag facility.get_profile_image(300,300), class: "rounded-circle mt-4", size: "200x200" %>
  <% if facility.user_facility_name.present? %>
   <h3 class="mt-3"><%= facility.user_facility_name %></h3>
  <% else %>
    <h3 class="mt-3"><%= facility.first_name %><%= facility.last_name %></h3>
  <% end %>
  
  <% if facility.introduct.present? %>
    <div class="d-flex justify-content-center align-items-center">
      <div class="card center" style="max-width: 600px;">
        <div class="card-body">
          <p class="card-text text-left"><%=safe_join(facility.introduct.split("\n"),tag(:br))%></p><br>
        </div>
      </div>
    </div>
  <% end %>

   <h3 class="mt-3"><%= facility.facility_name %></h3>
   <% if facility.facility_intro.present? %>
   <div class="d-flex justify-content-center align-items-center">
    <div class="card center" style="max-width: 600px;">
      <div class="card-body">
        <p class="card-text text-left"><%=safe_join(facility.facility_intro.split("\n"),tag(:br))%></p><br>
      </div>
    </div>
  </div>
  <% end %>
   <p><%= facility.address %></p>
   <p><%= facility.telephone %></p>