<div class="container mt-5 mb-5">

  <div class="row my-3">
    <div class="col-sm-8 px-sm-0 offset-sm-1">
      <h2>新規会員登録</h2>
    </div>
  </div>
  <div class="center">
    <%= form_with model: @reader, url: reader_registration_path, local: true do |f| %>
      <%= render "reader/shared/error_messages", resource: resource %>

      <div class="row form-group">
        <%= f.label :氏名, class: "mr-1 ml-3" %>
        <%= f.label :必須, class: "badge badge-danger mr-5" %>
        <div class="col-2 mr-3"></div>
        <%= f.label :苗字, class: "mr-2 d-none d-lg-inline" %>
        <%= f.text_field :first_name, autofocus: true, placeholder: "田中", class: "col-2-sm-2 mr-5" %>
        <%= f.label :名前, class: "mr-2 d-none d-lg-inline" %>
        <%= f.text_field :last_name, autofocus: true, placeholder: "太郎", class: "col-2-sm-2" %>
      </div>

      <div class="row form-group">
        <%= f.label :フリガナ, class: "mr-1 ml-3" %>
        <%= f.label :必須, class: "badge badge-danger mr-4" %>
        <div class="col-2"></div>
        <%= f.label :ﾐｮｳｼﾞ, class: "mr-2 d-none d-lg-inline" %>
        <%= f.text_field :first_name_kana, autofocus: true,  placeholder: "タナカ",  class: "col-2-sm-2 mr-5" %>
        <%= f.label :ﾅﾏｴ, class: "mr-3 d-none d-lg-inline" %>
        <%= f.text_field :last_name_kana, autofocus: true,  placeholder: "タロウ", class: "col-2-sm-2" %>
      </div>

      <div class="row form-group">
        <%= f.label :ユーザー名, class: "mr-1 ml-3" %>
        <%= f.label :必須, class: "badge badge-danger mr-5" %>
        <div class="col-2 mr-2"></div>
        <%= f.text_field :user_name, autofocus: true, autocomplete: "user_name",placeholder: "ユーザー名(アカウント名)", class: "col-3-sm-2" %>
      </div>
      
      <div class="row form-group">
        <%= f.label :住所, class: "mr-1 ml-3" %>
        <%= f.label :必須, class: "badge badge-danger mr-5" %>
        <div class="col-2 mr-5"></div><div class="mr-2"></div>
        <%= f.text_field :prefecture, autofocus: true, autocomplete: "user_name",placeholder: "都道府県" %>
      </div>

      <div class="row form-group">
        <%= f.label :メールアドレス, class: "mr-1 ml-3" %>
        <%= f.label :必須, class: "badge badge-danger mr-4" %>
        <div class="col-2"></div>
        <%= f.email_field :email, autofocus: true, autocomplete: "email",placeholder: "anima@email", class: "col-lg-5" %>
      </div>

      <div class="row form-group">
        <%= f.label :"パスワード", class: "mr-1 ml-3" %>
        <%= f.label :必須, class: "badge badge-danger mr-5" %>
        <div class="col-2 mr-2"></div>
        <%= f.password_field :password, autocomplete: "off",placeholder: "6文字以上の英数字", class: "col-lg-4" %>
      </div>

      <div class="row form-group">
        <%= f.label :"パスワード(確認用)", class: "mr-1 ml-3" %>
        <%= f.label :必須, class: "badge badge-danger" %>
        <div class="col-2"></div>
        <%= f.password_field :password_confirmation, autocomplete: "off",placeholder: "確認用", class: "col-lg-4" %>
      </div>

      <div class="actions text-center">
        <%= f.submit "新規登録", class: "btn btn-success" %><br>
       <%= render "reader/shared/links" %>
      </div>
    <% end %>

  </div>
</div>


