<div class="row mt-5">
  <% animals.each do |animal| %>
    <div class="col-sm-4">
      <%= link_to reader_animal_path(animal.id) do %>
        <% if animal.images.attached? %>
          <%= image_tag animal.images.first, class: "rounded-circle", size: "200x200" %>
          <% else %>
            <%= image_tag 'no_image', class: "rounded-circle", size: "200x200" %>
          <% end %>
          <p class="text-center"><%= animal.name %></p>
        <% end %>

      <% if animal.is_decided %>
        <span class="text-danger font-weight-bold ml-4">家族が決まりました</span>
      <% else %>
        <span class="text-success font-weight-bold ml-4">募集中</span>
      <% end %><br>

      <!--気になるボタン-->
      <i class="fas fa-star ml-4 mr-1 favo"></i></i><%= animal.favorites.count %>
    </div>
    <% end %>
  </div>