<div class="container-sm">
  <% if notice %>
    <div class="alert alert-success mt-3">
      <%= notice %>
    </div>
  <% end %>

  <div class="row">
    <div class="col-sm-2 text-center">
      <%= image_tag @reader.get_profile_image(150,150), class: "rounded-circle mt-5", size: "150x150" %>
      <h4><%= @reader.user_name %></h4>

      <% if !current_reader.guest? %>
        <%= link_to "マイページ", reader_reader_path(@reader), class: "btn btn-primary mt-2"%>
      <% end %><br>
      <%= link_to "気になる一覧", favorites_reader_reader_path(current_reader), class: "btn btn-info mt-3" %>
    </div>

    <div class="col-1"></div>

    <div class="col-8 mt-3">
      <!--投稿した動物（犬・ネコ限定）-->
      <%= form_tag reader_animals_path, method: :get, class: 'boards__searchForm' do %>

      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="home-tab" data-toggle="tab" href="#all" role="tab" aria-controls="home" aria-selected="true">一覧</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="profile-tab" data-toggle="tab" href="#dog" role="tab" aria-controls="profile" aria-selected="false">犬</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="contact-tab" data-toggle="tab" href="#cat" role="tab" aria-controls="contact" aria-selected="false">猫</a>
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="all" role="tabpanel" aria-labelledby="home-tab"> <%= render "reader/animals/index", animals: @animals %></div>
        <div class="tab-pane fade" id="dog" role="tabpanel" aria-labelledby="profile-tab"><%= render "reader/animals/index", animals: @animals_dog %></div>
        <div class="tab-pane fade" id="cat" role="tabpanel" aria-labelledby="contact-tab"><%= render "reader/animals/index", animals: @animals_cat %></div>
      </div>
      <% end %>
      
    </div>
  </div>
</div>
