<div class="container">
  <div class="row">
    <div class="col3 mt-3">
      <%= image_tag @reader.get_profile_image(300,300), class: "rounded-circle mt-5", size: "150x150" %>
      <h3><%= @reader.user_name %></h3>

      <%= link_to "いいね一覧", favorites_reader_reader_path(current_reader), class: "btn btn-info" %><br>
      <%= link_to "マイページ", reader_reader_path(@reader), class: "btn btn-primary mt-2"%>
    </div>

    <div class="col-1"></div>

    <div class="col-9 mt-3">
      <!--投稿した動物（犬・ネコ限定）-->
      <%= form_tag reader_animals_path, method: :get, class: 'boards__searchForm' do %>

        <!--タブ分け-->
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <%= link_to "一覧", reader_animals_path, class: "nav-link active" %>
          </li>
          <% @genres.each do |genre| %>
          <li class="nav-item">
            <%= link_to genre.name, reader_animals_path(name: genre.id), class: "nav-link" %>
          <% end %>
          </li>
        </ul>
      <% end %>

      <!--動物一覧-->
      <%= render "reader/animals/index", animals: @animals %>
    </div>
  </div>
</div>
