<div class="container text-center">
  <%= render 'facility/animals/animal', animal: @animal %>
  
  <!--★『気になる』ボタン-->
  <% if !current_reader.guest? %>
  <div id="favorite_btn_<%= @animal.id %>">
    <div class="favorite_btn mt-5"><%= render 'reader/favorites/favorite', animal: @animal %></div>
  </div>
  <% end %>

  <!--動物種-->
  <% @animal.genres.each do |genre| %>
    <%= genre.name %>
  <% end %><br>

<!--タグ-->
  <!--<%# @tags.each do |tag| %>-->
  <!--  <%#= link_to reader_animals_path(tag: tag) do %>-->
  <!--    <i class="fas fa-tag"></i><%#= tag %>　<!--タグ用-->
  <!--  <%# end %>-->
  <!--<%# end %><br>-->
  <%= @animal.created_at.strftime('%Y/%m/%d') %><br>

  <% if @animal.is_decided %>
    <span class="text-danger font-weight-bold">家族が決まりました</span>
  <% else %>
    <span class="text-success font-weight-bold">募集中</span>
  <% end %><br>

   <%= link_to "一覧へ", reader_animals_path, class: "btn btn-primary mt-3 mr-3" %>
   
   <% if !current_reader.guest? %>
     <%= link_to "施設詳細", reader_facility_path(@facility), class: "btn btn-warning mt-3" %><br>
   <% end %>
   <div>
     <button class="btn btn-secondary mt-3" disabled type="button">DM機能準備中</button>
   </div>
   <%#= link_to "施設へメッセージを送る(準備集)", reader_rooms_path(params: { facility_id: @facility}), method: :post, class: "btn btn-success mt-3" %>
</div>
