<div class="container-sm text-center">

  <div class="mt-3">
    <%= render "facility/animals/decided", animal: @animal %>
  </div>

  <!--動物詳細-->
  <%= render 'facility/animals/animal', animal: @animal %>

  <!--★『気になる』ボタン-->
  <% if !current_reader.guest? %>
  <div id="favorite_btn_<%= @animal.id %>">
    <div class="favorite_btn mt-5"><%= render 'reader/favorites/favorite', animal: @animal %></div>
  </div>
  <% end %>

  <!--動物種-->
  <%= render "facility/animals/genre_name", animal: @animal %>

  <%= @animal.created_at.strftime('%Y/%m/%d') %><br>

  <!--コメント-->
    <!--個人側コメント-->
    <h3 class="border-bottom font-weight-bold mt-5">コメント</h3>
    <div class="mt-3" id="comment">
      <%= render "reader/comments/comment", animal: @animal %>
    </div>
      
    <% if !current_reader.guest? %>
      <div id="form">
        <%= render "reader/comments/form", animal: @animal, comment: @comment %>
      </div>
    <% end %>

   <%= link_to "一覧へ", reader_animals_path, class: "btn btn-primary mt-5 mr-3" %>

   <% if !current_reader.guest? %>
     <%= link_to "施設詳細", reader_facility_path(@facility), class: "btn btn-warning mt-3" %><br>
   <% end %>
   <div>
     <button class="btn btn-secondary mt-3" disabled type="button">DM機能準備中</button>
   </div>
   <%#= link_to "施設へメッセージを送る(準備集)", reader_rooms_path(params: { facility_id: @facility}), method: :post, class: "btn btn-success mt-3" %>
</div>
