<div class="container text-center">

  <% @animal.images.each do |image| %>
    <%= image_tag image, size: "500x400" %><br>
  <% end %>
  <%= @animal.name %><br>

  <%= @animal.introduct %><br>
  
  <!--★『気になる』ボタン-->
  <% if @animal.favorited_by?(current_reader) %>
    <p>
      <%= link_to reader_animal_favorites_path(@animal), method: :delete do %>
        <i class="fas fa-star"></i><%= @animal.favorites.count %> 
      <% end %>
    </p>
    <% else %>
    <p>
      <%= link_to reader_animal_favorites_path(@animal), method: :post do %>
        <i class="far fa-star"></i><%= @animal.favorites.count %> 
      <% end %>
    </p>
  <% end %>
  
  <!--動物種-->
  <% @animal.genres.each do |genre| %>
    <%= genre.name %>
  <% end %><br>

<!--タグ-->
  <% @tags.each do |tag| %>
    <%= link_to reader_animals_path(tag: tag) do %>
      <i class="fas fa-tag"></i><%= tag %>　<!--タグ用-->
    <% end %>
  <% end %><br>
  <%= @animal.created_at.strftime('%Y/%m/%d') %><br>

   <%= link_to "一覧へ", reader_animals_path, class: "btn btn-primary" %><br>
   
   <%= link_to "施設詳細", reader_facility_path(@facility), class: "btn btn-warning mt-3" %><br>
   <%#= link_to "DM" %>DMを送る
</div>
