<div class="container-sm text-center">

  <div class="mt-3">
    <%= render "facility/animals/decided", animal: @animal %>
  </div>

  <!--動物詳細-->
  <%= render 'facility/animals/animal', animal: @animal %>
  
  <!--タグ-->
  <div class="mt-3">
    <% @tags.each do |tag| %>
      <%= link_to search_reader_animals_path(tag: tag), class: "mr-3" do %>
        <i class="fas fa-tag"></i><%= tag %>
      <% end %>
    <% end %>
  </div>

  <!--★『気になる』ボタン-->
  <% if !current_reader.guest? %>
  <div id="favorite_btn_<%= @animal.id %>">
    <div class="favorite_btn mt-3"><%= render 'reader/favorites/favorite', animal: @animal %></div>
  </div>
  <% end %>

  <!--動物種-->
  <%= render "facility/animals/genre_name", animal: @animal %>

  <%= @animal.created_at.strftime('%Y/%m/%d') %><br>

  <!--コメント-->
    <!--個人側コメント-->
    <% if !current_reader.guest? %>
    <h3 class="mt-5 font-weight-bold" style="border-bottom: 2px solid gray;">コメント</h3>
   
    <div class="mt-3" id="comment">
      <%= render "reader/comments/comment", animal: @animal %>
    </div>
    
    <div id="form">
      <%= render "reader/comments/form", animal: @animal, comment: @comment %>
    </div>
    <% end %>

   <%= link_to "一覧へ", reader_animals_path, class: "btn btn-primary mt-5 mr-3 mb-3" %>

   <% if !current_reader.guest? %>
     <%= link_to "施設詳細", reader_facility_path(@facility), class: "btn btn-warning mt-5 mb-3" %><br>
   <% end %>
   
</div>
