<% animal.comments.each do |comment| %>
    <% if comment.reader_id %>
    <div class="font-weight-bold mt-3"><%= comment.reader.user_name %></div>
    <% elsif comment.facility_id %>
     <div class="font-weight-bold mt-3"><%= comment.facility.facility_name %></div>
    <% end %>
    
    <div class="card card-comment mx-auto  border border-0">
      <div class="card-body">
        <p class="text-left"><%= comment.comment %></p>
        <div class="time_ago text-right"><%= time_ago_in_words(comment.created_at) %></div>
      </div>
    </div>
    <span>
      <% if comment.reader == current_reader %>
        <%= link_to reader_animal_comment_path(comment.animal, comment), method: :delete, remote: true do %>
          <i class="fas fa-times-circle" style="color: #f1041b;"></i>
        <% end %>
      <% end %>
    </span>
<% end %>