<div class="container">
  <div class="row">
    <div class="col3">
    <%= link_to "新規投稿", new_facility_animal_path, class: "btn btn-success mt-3" %>
    </div>
    <div class="col-1"></div>
    
    <div class="col-9">
      <%= form_tag facility_animals_path, method: :get, class: 'boards__searchForm' do %>
      
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <%= link_to "一覧", facility_animals_path, class: "nav-link active" %>
        </li>
        <% @genres.each do |genre| %>
       <li class="nav-item">
          <%= link_to genre.name, facility_animals_path(name: genre.id), class: "nav-link" %>
        <% end %>
      </li>
      </ul>
      <% end %>
      
      <div class="row mt-5">
        <% @animals.each do |animal| %>
        <div class="col-4">
          <%= link_to facility_animal_path(animal.id) do %>
            <%= image_tag animal.images.first, class: "rounded-circle", size: "200x200" %>
            <p class="text-center"><%= animal.name %></p>
          <% end %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
