<div class="container">
  <div class="row">
    <div class="col3">
      <!--施設側のプロフィール-->
      <%= image_tag @facility.get_profile_image(150,200), class: "rounded-circle mt-3", size: "150x150" %>
      <%= render 'facility/facilities/profile', facility: current_facility %>

      <!--新規投稿-->
      <%= link_to "新規投稿", new_facility_animal_path, class: "btn btn-success mt-3" %><br>
      
    </div>

    <div class="col-1"></div>

    <div class="col-9 mt-3">

      <!--投稿した動物（犬・ネコ限定）-->
      <%= form_tag facility_animals_path, method: :get, class: 'boards__searchForm' do %>

      <!--タブ分け-->
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <%= link_to "一覧", facility_animals_path, class: "nav-link active" %>
        </li>
        <% @genres.each do |genre| %>
       <li class="nav-item">
          <%= link_to genre.name, facility_animals_path(name: genre.id), class: "nav-link" %>
        <% end %>
      </li>
      </ul>
      <% end %>

      <!--犬・ネコ投稿一覧-->
      <div class="row mt-5">
        <% @animals.each do |animal| %>
        <div class="col-4">
          <%= link_to facility_animal_path(animal.id) do %>
          <% if animal.images.attached? %>
            <%= image_tag animal.images.first, class: "rounded-circle", size: "200x200" %>
            <% else %>
              <%= image_tag 'no_image', size: "200x200", class: "rounded-circle" %>
            <% end %>
            <p class="text-center"><%= animal.name %></p>
          <% end %>
        </div>
        <% end %>
      </div>

    </div>
  </div>
</div>
