<div class="contaner-sm text-center">
  <h3 class="mt-3 text-success">新規投稿</h3>

  <!--エラー文-->
  <%= render "error", animal: @animal %>

  <%= form_with model: @animal, url: facility_animals_path do |f| %>

  <!--画像選択-->
    <div class="field mt-4">
      <%= f.label :必須, class: "badge badge-danger" %>
      <%= f.label :"画像選択", class: "font-weight-bold" %><br>
      <%= f.file_field :images, accept: "image/*",multiple: true %>
      <p class="text-danger">※画像は３枚まで</p>
    </div>

    <!--動物の名前記入-->
    <div class="field">
      <%= f.label :必須, class: "badge badge-danger" %>
      <%= f.label :"お名前", class: "font-weight-bold" %><br>
      <%= f.text_field :name, class: "form", placeholder: "ポチ/タマ" %>
    </div>

      <!--動物についての説明欄-->
    <div class="field">
      <%= f.label :必須, class: "badge badge-danger" %>
      <%= f.label :"説明", class: "font-weight-bold mt-3" %><br>
      <%= f.text_area :introduct, placeholder: "性格や保護期間など", class: "col-sm-7",rows: "20" %>
    </div>

      <!--犬・猫種類-->
    <div class="check_box mt-3">
      <!--<p class="badge badge-danger">必須</p>-->
      <%= f.collection_check_boxes(:genre_ids, Genre.all, :id, :name) do |genre| %>
     　<%= genre.label do %>
      　 <%= genre.check_box %>
      　 <%= genre.text %>
      　<% end %>
      <% end %>
      　<p class="text-danger">※選択しない場合、タブで振り分けることができません</p>
    </div>

    <div class="input-field mt-3">
      <h4>タグ付け</h4>
      <%= f.text_field :tag, placeholder: "タグを複数つけるには' , 'で区切ってください", class: "col-sm-7" %>
    </div>

    <%= f.submit '新規投稿', class: "btn btn-success mt-3" %>
  <% end %>
</div>