<div class="container text-center">

  <% @animal.images.each do |image| %>
    <%= image_tag image, size: "500x400" %><br>
  <% end %>
  <%= @animal.name %><br>

  <%= @animal.introduct %><br>

  <%= @tags %><br>　<!--タグ用-->

  <%= @animal.created_at.strftime('%Y/%m/%d') %><br>

  <%= link_to "編集", edit_facility_animal_path(@animal), class: "btn btn-success" %>
  <%= link_to "削除", facility_animal_path(@animal), class: "btn btn-danger" %><br>
   <%= link_to "back", facility_animals_path %>
</div>
