<div class="container text-center">

  <% @animal.images.each do |image| %>
  <div class="images">
    <%= image_tag image, size: "500x400", class: "mt-3" %>
    </div>
  <% end %>
  <%= @animal.name %><br>

  <%= @animal.introduct %><br>
  
  <% @animal.genres.each do |genre| %>
    <%= genre.name %>
  <% end %><br>
  
  <!--気になるカウント-->
    <i class="fas fa-star"></i><%= @animal.favorites.count %><br>
  
  <%= @animal.created_at.strftime('%Y/%m/%d') %><br>
  
  <% @tags.each do |tag| %>
    <%= link_to facility_animals_path(tag: tag) do %>
      <i class="fas fa-tag"></i><%= tag %>　<!--タグ用-->
    <% end %>
  <% end %><br>
  
  <% if @animal.is_decided %>
    <span class="text-danger font-weight-bold">家族が決まりました</span>
  <% else %>
    <span class="text-success font-weight-bold">募集中</span>
  <% end %><br>

  <%= link_to "編集", edit_facility_animal_path(@animal), class: "btn btn-success" %>
  <%= link_to "削除", facility_animal_path(@animal), method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn btn-danger" %><br>
   <%= link_to "back", facility_animals_path %>
</div>
