<div class="container text-center mt-4">
  
  <% if flash[:alert] %>
    <div class="alert alert-danger mt-3">
      <%= flash[:alert] %>
    </div>
  <% end %>
  
  <h1 style="background-color: #f0e68c;">Welcome to Anima!</h1>
  <p>
    このアプリは、すべてのワンちゃん、猫ちゃんが幸せなるようにと作りました。<br>
  　これから飼い主になる方、保護犬保護猫の出会いの場になればと思っています<br>
    もちろん、癒され目的でも大丈夫です。<br>
    どうか良いご縁がありますように、と願っています。
  </p>
  
  <%= link_to '施設側ゲストログイン（閲覧用）', facilitys_guest_sign_in_path, class: "btn btn-secondary mt-4 sign_in", method: :post %><br>
  <%= link_to '個人ゲストログイン（閲覧用）', readers_guest_sign_in_path, class: "btn btn-secondary mt-3 sign_in", method: :post %><br>
  <%= link_to "施設のご登録はこちらから", new_facility_registration_path, class: "btn btn-success mt-5" %><br>
  <%= link_to "個人のご登録はこちらから", new_reader_registration_path, class: "btn btn-info mt-3" %><br>

  <%= image_tag asset_path("top-image.png"), width: '40%', height: '50%', class: "mt-5" %>
</div>