<div class="container-sm text-center">

  <% if flash[:alert] %>
    <div class="alert alert-danger mt-3">
      <%= flash[:alert] %>
    </div>
  <% end %>

    <div class="image" style="background-image">
      <%= image_tag asset_path("top-image.jpg"), width: '100%' %>
    </div>

    <h1 class="welcome">Welcome to Anima!</h1>

    <%= link_to '施設側ゲストログイン（閲覧用）', facilitys_guest_sign_in_path, class: "btn btn-secondary mt-4 sign_in", method: :post %>
    <%= link_to '個人ゲストログイン（閲覧用）', readers_guest_sign_in_path, class: "btn btn-secondary mt-4 sign_in", method: :post %><br>
    <%= link_to "施設のご登録はこちらから", new_facility_registration_path, class: "btn btn-success mt-4" %>
    <%= link_to "個人のご登録はこちらから", new_reader_registration_path, class: "btn btn-info mt-4" %><br>

    <div class="text-center mt-5" style="border: 5px double #007bff;">
      <div class="card-body">
        <h3 class="font-weight-bold"><span style="border-bottom: 3px solid #ffa500;">サイトについて</span></h3>
        <p>
          このアプリは、すべてのワンちゃん、ネコちゃんが幸せなるようにと作りました。<br>
        　これから飼い主になる方、保護犬保護猫の出会いの場になればと思っています<br>
          もちろん、癒され目的でも大丈夫です。<br>
          どうか良いご縁があることを願っています。
        </p>
      </div>
    </div>

    <div class="mt-4 shadow p-3">
      <h3 class="font-weight-bold" style="color: #ffa500;">ご利用方法</h3>
      <span class="top-facility p-1 rounded-pill">【施設側】</span>
        <div class="d-flex justify-content-sm-center flex-wrap">
          <div class="border-right pr-2 border-dark col-sm-3">
            <%= image_tag "camera_cat.png", size: "200x200"%>
            <p class="text-left"><span class="number font-weight-bold">➀</span>保護しているワンちゃん、ネコちゃんの写真撮影をします。</p>
          </div>
          <div class="border-right border-dark pr-2 pl-2 col-sm-3">
            <%= image_tag "website_sns.png", size: "200x200" %>
            <p class="text-left"><span class="number font-weight-bold pl-2">➁</span>撮影したものを『新規登録』にてアップします</p>
          </div>
          <div class="pl-2 col-sm-3">
            <%= image_tag "pet_dog_dakko.png", size: "200x200" %>
            <p class="text-left"><span class="number font-weight-bold pl-2">➂</span>『気になるボタン』やコメントなどでやり取りし、新しい飼い主様へ迎えれて頂く</p>
            <%= link_to "施設のご登録はこちらから", new_facility_registration_path, class: "btn btn-success mt-1" %>
          </div>
        </div>
        
        <div class="p-3" style="border-bottom: 5px dashed #ffa500;"></div>

        <div class="mt-4">
          <span class="top-reader rounded-3 p-1 rounded-pill">【個人側】</span>
          <div class="d-flex justify-content-sm-center flex-wrap">
            <div class="border-right pr-2 border-dark col-sm-3">
              <%= image_tag "smartphone_suwaru_man.png", size: "200x200" %>
              <p class="text-left"><span class="number font-weight-bold">➀</span>一覧画面から気にる子をクリックします</p>
            </div>
            <div class="border-right border-dark pr-2 pl-2 col-sm-3">
              <%= image_tag "computer_message_app.png", size: "200x200" %>
              <p class="text-left"><span class="number font-weight-bold pl-2">➁</span>『気になるボタン』やコメントなどでやり取りします</p>
            </div>
            <div class="pl-2 col-sm-3">
              <%= image_tag "pet_cat_woman.png", size: "200x200" %>
              <p class="text-left"><span class="number font-weight-bold pl-2">➂</span>実際に気になる子へ会いに行き<br>施設側と話し合って頂きお迎えする</p>
              <%= link_to "個人のご登録はこちらから", new_reader_registration_path, class: "btn btn-info mt-1" %>
            </div>
          </div>
        </div>
    </div>
    
    <div class="mt-5 mb-5 p-4" style="border: 5px double red; background-color: #ffffe0;">
      <h3 class="text-danger font-weight-bold"><span>※注意事項※</span></h3>
      <span class="list">施設側の住所を載せていますが、動物の遺棄や廃棄目的でのご利用をお断りしております。</span><br>
      <span class="list">お迎えするにあたり、動物の介護や食事代、病気に罹ったときなどのことを考慮してください。</span><br>
      <span class="list">無理のない多頭飼育をお願い致します。</span><br>
      <span class="list">お迎えを考えている方は、お迎えしたワンちゃん、ネコちゃんを一生愛することを誓える方のご利用を推奨しております。</span><br>
      <span class="list">当サイトは、施設側、個人側に不利益が生じても一切の責任を負いません。</span>
    </div>

</div>