<header>
  <nav class="navbar navbar-expand-lg navbar-info" style="background-color: #87cefa;">
    <div class="container">
      <%= link_to image_tag('logo.png', width: '40%', height: '50%', class: "ml-5"), root_path %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
          <!--施設側ログイン後表示-->
          <% if facility_signed_in? %>
            <li class= "nav-item">
              <%= link_to facility_facility_path(current_facility.id), class: "btn btn-light mr-3" do %>
               <i class="fas fa-user-plus"></i><br>マイページ
              <% end %>
            </li>
            <li class= "nav-item">
              <%= link_to destroy_facility_session_path, method: :delete, class: "btn btn-light" do %>
                <i class="fas fa-sign-out-alt"></i><br>ログアウト
              <% end %>
            </li>
          <%# else %>
          <!--  <li class= "nav-item">-->
          <!--    <%#= link_to new_facility_registration_path, class: "btn btn-light mr-3" do %>-->
          <!--       <i class="fas fa-paw"></i><br>新規登録-->
          <!--    <#% end %>-->
          <!--  </li>-->
          <!--  <li class= "nav-item">-->
          <!--    <%#= link_to new_facility_session_path, class: "btn btn-light mr-3" do %>-->
          <!--      <i class="fas fa-sign-in-alt"></i><br>ログイン-->
          <!--    <#% end %>
          <!--  </li>-->
          
          <!--個人側ログイン後表示-->
          <% elsif reader_signed_in? %>
            <li class="nav-item">
              <%= link_to destroy_reader_session_path, method: :delete, class: "btn btn-light" do %>
                <i class="fas fa-sign-out-alt"></i><br>ログアウト
              <% end %>
            </li>
          <% else %>
            <li>
              <%= link_to new_reader_registration_path, class: "btn btn-light mr-3" do %>
                <i class="fas fa-users-cog"></i><br>新規登録
              <% end %>
            </li>
            <li>
              <%= link_to new_reader_session_path, class: "btn btn-light" do %>
                <i class="fas fa-sign-in-alt"></i><br>ログイン
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
  </header>