<header>
  <nav class="navbar navbar-expand" style="background-color: sandybrown;">
    <div class="container">
      <%= link_to image_tag('logo.png', width: '40%', height: '50%'), root_path, width: "40" %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
        <ul class="navbar-nav">
          <!--施設側ログイン後表示-->
          <% if facility_signed_in? %>
            <div class="pl-1"></div>
              <li class="nav-item dropdown">
                <a class="nav-link" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="far fa-user-circle fa-3x bg-light rounded-circle" style="color: #06109d;"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                  <% if !current_facility.guest? %>
                    <%= link_to new_facility_animal_path,class: "btn btn-light" do %>
                       <i class="fas fa-plus mr-2"></i>新規投稿
                      <% end %>
                      <div class="dropdown-divider"></div>
                       <%= link_to facility_facility_path(current_facility.id),class: "btn btn-light" do %>
                         <i class="fas fa-user-cog mr-2"></i>マイページ
                        <% end %>
                    <% end %>
                    <div class="dropdown-divider"></div>
                    <%= link_to facility_animals_path, class: "btn btn-light" do %>
                      <i class="fas fa-paw mr-2"></i>アニマル
                    <% end %>
                    <div class="dropdown-divider"></div>
                    <%= link_to destroy_facility_session_path, method: :delete, class: "btn btn-light" do %>
                      <i class="fas fa-sign-out-alt mr-2"></i>ログアウト
                    <% end %>
                  </div>
              </li>

            <!--個人側ログイン後表示-->
          <% elsif reader_signed_in? %>
            <% if !current_reader.guest? %>
              <%= render 'reader/searchs/form' %>
            <% end %>
            <div class="pl-1"></div>
              <li class="nav-item dropdown">
                <a class="nav-link" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="far fa-user-circle fa-3x bg-light rounded-circle" style="color: #06109d;"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                  <% if !current_reader.guest?%>
                   <%= link_to reader_reader_path(current_reader.id),class: "btn btn-light" do %>
                     <i class="fas fa-user-cog mr-2"></i>マイページ
                    <% end %>
                  <% end %>
                    <div class="dropdown-divider"></div>
                    <%= link_to reader_animals_path, class: "btn btn-light" do %>
                      <i class="fas fa-paw mr-2"></i>アニマル
                    <% end %>
                    <div class="dropdown-divider"></div>
                    <%= link_to destroy_reader_session_path, method: :delete, class: "btn btn-light" do %>
                      <i class="fas fa-sign-out-alt mr-2"></i>ログアウト
                    <% end %>
                  </div>
              </li>
              
              <!--ログイン前-->
          <% else %>
            <li class= "nav-item">
              <%= link_to new_facility_session_path, class: "btn btn-light col-sm-3 mr-3" do %>
                <i class="fas fa-sign-in-alt"></i><br>施設ログイン
              <% end %>
            </li>

            <li class="nav-item">
              <%= link_to new_reader_session_path, class: "btn btn-light col-sm-3" do %>
                <i class="fas fa-sign-in-alt"></i><br>ログイン
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
  </header>